body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    width: 250px
}
.caption {
    font-size: medium;
}
#country {
    font-size: larger;
}
.values {
    font-size: 45px;
    margin-bottom: -15px;
    margin-top: 0px;
}
#weather-icon{
    font-size: 50px;
}
#time-icon {
    font-size: 50px;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
}
#event-countdown {
    margin-bottom: 5px !important;
}
.event-add {
    background-color: black;
    border: 2px solid rgb(34, 197, 94);
    color: rgb(34, 197, 94);
    border-radius: 15px;
    width: 50px;
    height: 40px;
    padding: 2px;
}
.event-remove {
    background-color: black;
    color: rgb(255, 79, 79);
    border: 2px solid rgb(255, 79, 79);
}
.event-button {
    border-radius: 15px;
    width: 50px;
    height: 40px;
    padding: 2px;
}
.event-buttons {
    margin-top: 20px;
    display: flex;
    gap: 2px;
}
#event-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
}
#event-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    margin: 25px 75px 50px 75px;
}
#close {
    background-color: rgb(255, 79, 79);
    border-radius: 100%;
    padding: auto;
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#event-form input {
    padding: 7px;
    border-radius: 4px;
    margin: 0px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0);
}
#event-form input:focus {
    outline: none;
}
#event-form input::placeholder {
    color: white;
}
#event-form label {
    margin: 0px;
}
#battery {
    /*padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    background-color: black;
    width: 200px;
    height: 68px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}
#red-battery {
    background-color: rgb(251, 63, 63);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}
#current-battery {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(34, 197, 94);
    color: black;
    font-weight: bold;
    font-size: 25px;
}
#battery-content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    z-index: 1;
}
#battery-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: -10px;
}
#battery-tip {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid white;
    background-color: white;
    height: 40px;
    width: 10px;
    margin-left: 0px;
}
#overlay {
    position: fixed;
    inset: 0;
}
#row3{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 300px;
}
#left {
    width: 50%;
    height: 100%;
    padding-left: 80px;
}
#right {
    width: 50%;
    height: 100%;
    padding-right: 10px;
    overflow-y: scroll;
    scrollbar-color: white black;
    margin-right: 80px;
}
#quote-title {
    font-size: 30px;
}
#quote {
    font-style: italic;
    font-size: 25px;
}
#author {
    text-align: right;
    font-size: 20px;
    font-style: italic;
}
#task-inputs {
    display: flex;
    gap: 5px;
    margin-right: 0px;
}
#task-name {
    width: 90%;
    height: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}
#task-name::placeholder {
    font-style: italic;
}
#task-name:hover {
    border: 2px solid white;
}
#task-name:focus {
    border: 2px solid white;
    outline: none;
}
#task-add {
    background-color: black;
    color: white;
    width: 10%;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    border-radius: 10px;
}
#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 0px;
    gap: 10px;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 2px solid white;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.task-left {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.task-right {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    padding: 2px;
}
.task-left input {
    margin: 0px;
}
.task-left input:checked + .task-title {
    text-decoration: line-through;
    opacity: 0.7;
}
.task-title{
    margin: 0px;
}
.task-delete {
    color: rgb(255, 79, 79);
    background-color: black;
    border: 2px solid rgb(255, 79, 79);
    border-radius: 5px;
}